@model Disaster_Alleviation_Foundation.Models.Donation

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Current Donations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
    </dl>
</div>
<div>
 
    <a asp-action="Index">Back to Donation List</a>
</div>
