@model IEnumerable<Disaster_Alleviation_Foundation.Models.Donation>

@{
    ViewData["Title"] = "Index";
}
<style>
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: DodgerBlue;
        color: white;
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: red;
    }

    a:active {
        text-decoration: underline;
    }
</style>
<h1>Donations</h1>

<p>
    <a asp-action="Create">Make a Donation</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>Manage Donations</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DonationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DonationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
