   @model IEnumerable<Disaster_Alleviation_Foundation.Models.Volunteer>

@{
    ViewData["Title"] = "Volunteering";
}
<style>
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: DodgerBlue;
        color: white;
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: red;
    }

    a:active {
        text-decoration: underline;
    }
</style>

<h1>Folunteerings</h1>

<p>
    <a asp-action="Create">Register to volunteer</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HPS_Registration_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason_to_Volunteer)
            </th>
            <th>Manage Volunteering activities</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HPS_Registration_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason_to_Volunteer)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br>
<br>
<h1>Available Volunteering tasks</h1>
<img src="images/focus.png" width="1000" height="300">
<br>
<br>

<table>
    <tr>
        <th>Task</th>
        <th>Category</th>
        <th>City</th>
    </tr>
    <tr>
        <td>Disaster Relief Assistance</td>
        <td>Disaster Response</td>
        <td>Harare</td>
    </tr>
    <tr>
        <td>Medical Assistance</td>
        <td>Healthcaree</td>
        <td>Blantyre</td>
    </tr>
    <tr>
        <td>Food Distribution Assistance</td>
        <td>Hnger Alleviation</td>
        <td>Aden</td>
    </tr>
    <tr>
        <td>Water Tank Operator</td>
        <td>Water Provision</td>
        <td>Johannesburg</td>
    </tr>
</table>